h1 {
  font-size: 60px;
  text-align: center;
}

.jumbotron {
  background-image: url("images/questions.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-color: transparent;
  background-size: 35%;
  min-height: 575px;
}

label {
  color: blue;
  font-size: 50;
}

input {
  min-height: 100px;
  text-align: center;
  opacity: 0.9;
}

.responses p {
  font-size: 50;
  font-weight: bold;
  color: red;
}

.winner {
  background-image: url('images/winner.jpg');
}


